[*.cs]

# SA1614: Element parameter documentation should have text
dotnet_diagnostic.SA1614.severity = none

# SA1616: Element return value documentation should have text
dotnet_diagnostic.SA1616.severity = none

# SA0001: XML comment analysis is disabled due to project configuration
dotnet_diagnostic.SA0001.severity = none
